@model PlayMore_V5._0.Models.Booking

@{
    ViewBag.Title = "Delete";
}

<h2>CancelBooking</h2>

<h3>Are you sure you want to Cancel the booking?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        @*  <dt>
                @Html.DisplayNameFor(model => model.BookedBy_Userid)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BookedBy_Userid)
            </dd>
        *@
        <dt>
            @Html.DisplayNameFor(model => model.BookFName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookFName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookLName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookLName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookAge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookAge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Workshop.WorkshopLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Workshop.WorkshopLocation)
        </dd>

    </dl>
    <br />
    <br />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">

    @Html.ActionLink("Back to List", "Index") |
    <input type="submit" value="Cancel" class="btn btn-default" id="myDelete" /> 
</div>
    }
</div>

<script src="~/Scripts/notify.min.js"></script>

<script>
    $('#myDelete').click(function () {
        $.notify("Item deleted!", { type: "info", delay: 10000, align: "center", verticalAlign: "top", animation: true, icon: "check", blur: 0.2 });
    });
</script>