@model PlayMore_V2._0.Models.Booking

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Booking</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BookedBy_Userid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookedBy_Userid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Workshop.WorkshopLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Workshop.WorkshopLocation)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" id="myDelete" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>

<script src="~/Scripts/notify.min.js"></script>

<script>
    $('#myDelete').click(function () {
        $.notify("Item deleted!", { type: "info", delay: 10000, align: "center", verticalAlign: "top", animation: true, icon: "check", blur: 0.2 });
    });
</script>