@model PlayMore_V5._0.Models.Booking

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Booking</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BookedBy_Userid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookedBy_Userid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookFName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookFName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookLName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookLName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookAge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookAge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Workshop.WorkshopLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Workshop.WorkshopLocation)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BookId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
