@model PlayMore_V5._0.Models.Booking

@{
    ViewBag.Title = "Details";
}

<h2>Booking Details</h2>

<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.HiddenFor(model => model.BookedBy_Userid)
        </dt>

        <dd>
            @Html.HiddenFor(model => model.BookedBy_Userid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookFName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookFName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookLName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookLName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookAge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookAge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Workshop.WorkshopLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Workshop.WorkshopLocation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Workshop.WorkshopDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Workshop.WorkshopDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Workshop.WorkShopFees)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Workshop.WorkShopFees)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Workshop.Coach.CoachFName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Workshop.Coach.CoachFName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Workshop.Coach.CoachLName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Workshop.Coach.CoachLName)
        </dd>

    </dl>
</div>
<br />
<br />

<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.BookId }) | *@
    @Html.ActionLink("Back to List", "Index")
</p>
