@model IEnumerable<PlayMore_V5._0.Models.Workshop>
@{
    ViewBag.Title = "Customer booking";
}

<h2>Customer booking</h2>
<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>

<div id="map" style="height:300px"></div>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WorkshopDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkshopLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game.GameName)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.WSLocLattitude)
            </th>


            <th>
                 @Html.DisplayNameFor(model => model.WSLocLongitude)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.WorkShopFees)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Coach.CoachFName)
            </th>
            <th>
               
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
        <tr class="coordinates">
            <td>
                @Html.DisplayFor(modelItem => item.WorkshopDate)
            </td>
            <td class="description">
                @Html.DisplayFor(modelItem => item.WorkshopLocation)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Game.GameName)
            </td>
            
        <td class="latitude">
            @Html.DisplayFor(modelItem => item.WSLocLattitude)
        </td>
        <td class="longitude">
            @Html.DisplayFor(modelItem => item.WSLocLongitude)
        </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.WorkShopFees)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Coach.CoachFName)
            </td>
            <td>
                @*
            @Html.ActionLink("Edit", "Edit", new { id = item.WorkshopId }) |
            @Html.ActionLink("Details", "Details", new { id = item.WorkshopId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.WorkshopId })
                *@
                @Html.ActionLink("Book", "UserConfirmBook", new { id = item.WorkshopId })

            </td>
        </tr>
        }
    </tbody>
</table>

@section Scripts {

    @Scripts.Render("~/Scripts/DataTables/jquery.dataTables.js")
    @Scripts.Render("~/Scripts/DataTables/dataTables.bootstrap.js")
    <script>
        $(document).ready(function () {
            $('.table').DataTable();
        });
    </script>
}
<link href="~/Content/DataTables/css/dataTables.bootstrap.min.css"
      rel="stylesheet" />

@Scripts.Render("~/bundles/mapbox")
