@model PlayMore_V5._0.Models.Workshop

@{
    ViewBag.Title = "Details";
}

<h2>Workshop Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.WorkshopDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkshopDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkshopLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkshopLocation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WSLocLattitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WSLocLattitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WSLocLongitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WSLocLongitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkShopFees)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkShopFees)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Coach.CoachFName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Coach.CoachFName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Game.GameName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Game.GameName)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.WorkshopId }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
