@model IEnumerable<PlayMore_V5._0.Models.Workshop>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<p>
    <div>
        @Html.ActionLink("Create New", "Create")
        <div style="float: right;">
            
            <input type="button" class="button" id="Bargraph" value="Broadcast Email" onclick="location.href='@Url.Action("BoradcastEmail", "Workshops")'" />
        </div>
    </div>

</p>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WorkshopDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkshopLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WSLocLattitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WSLocLongitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkShopFees)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Coach.CoachFName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game.GameName)
            </th>
            <th></th>
        </tr>
    </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.WorkshopDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WorkshopLocation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WSLocLattitude)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WSLocLongitude)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WorkShopFees)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Coach.CoachFName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Game.GameName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.WorkshopId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.WorkshopId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.WorkshopId })
                </td>
            </tr>
        }

</table>


@section Scripts {

    @Scripts.Render("~/Scripts/DataTables/jquery.dataTables.js")
    @Scripts.Render("~/Scripts/DataTables/dataTables.bootstrap.js")
    <script>
        $(document).ready(function () {
            $('.table').DataTable();
        });



    </script>
}
<link href="~/Content/DataTables/css/dataTables.bootstrap.min.css"
      rel="stylesheet" />
